[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/pooltogether-v5-twab-controller"]
	path = lib/pooltogether-v5-twab-controller
	url = https://github.com/SatoshiAndKin/pooltogether-v5-twab-controller
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
